[submodule "clients/nethermind"]
	path = clients/nethermind
	url = https://github.com/NethermindEth/nethermind.git
[submodule "clients/lighthouse"]
	path = clients/lighthouse
	url = https://github.com/sigp/lighthouse.git
[submodule "clients/go-ethereum"]
	path = clients/go-ethereum
	url = https://github.com/ethereum/go-ethereum.git
